div{
    width: 250px;
    height: 250px;
    background-color: red;
    /* transform: translate(250px,80px); */
    /* transform: translatey(0px); */
    transform: rotate(20deg);
    margin-top: 50px;
}
div:hover{
    background-color: blue;
    /* transform: translatey(80px); */
    transform: rotate(50deg);
    /* transform: scale(-1); */
    transform: skew(-20deg);
}
.a{
    background-color: pink;
    transform: translate(250px,80px);
}
.a:hover{

    background-color: black;
    transform: translate(250px,80px);


}
.DD{
    background-color: red;
}
.DD:hover{
    transform: rotate3d(150deg);
    background-color: yellow;
}
