.main{
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100vw;
    height: 100vh;
    background-color: gray;
    justify-content: center;
    align-items: center;
}
.card1, .card2, .card3, .card4{
    height: 500px;
    width: 25%;
    background-color: blue;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card1:hover, .card2:hover, .card3:hover, .card4:hover{
    height: 540px;
    width: 29%;
}